/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f0f4f8; /* Cor de fundo suave */
}

header {
    background: #003366; /* Azul escuro */
    color: #fff;
    padding: 1rem 0;
}

header .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2rem;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: #005b96; /* Azul médio */
    color: #fff;
    padding: 2rem 0;
    text-align: center;
    background-image: https://www.google.com/url?sa=i&url=https%3A%2F%2Fdepositphotos.com%2Fbr%2Fphotos%2Fglobal.html&psig=AOvVaw33fJaZJKlAksicLmYjDmS9&ust=1723641463692000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCPDti7SH8ocDFQAAAAAdAAAAABAE /*linear-gradient(135deg, #005b96, #003366); /* Gradiente azul */
}

.hero h2 {
    font-size: 2.5rem;
}

.hero p {
    font-size: 1.2rem;
}

.posts {
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.posts article {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 1rem;
}

.posts article img {
    width: 100%;
    height: auto;
}

.posts article h2 {
    color: #003366; /* Azul escuro */
    margin-top: 0.5rem;
}

.posts article p {
    margin: 1rem 0;
}

.posts article a {
    color: #ff3b30; /* Vermelho chamativo */
    text-decoration: none;
    font-weight: bold;
}

footer {
    background: #003366; /* Azul escuro */
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

footer .container {
    width: 80%;
    margin: 0 auto;
}
