<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vitor Joaquim</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='pagina-inicial.png') }}" type="image/png">
</head>
<body>
    <header>
        <div class="container">
            <h1>Maiolo's Blog</h1>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="hero">
            <h2>Welcome to Maiolo's Blog!</h2>
            <p>Discovery interesting articles about technology and more</p>
        </section>

        <section class="posts">
            <article>
                 <img src="{{ url_for('static', filename='images/global.jpg') }}">
                <h2>The Global Warning</h2>
                <p>Let's go through a warning and understand the global warming.</p>
                <a href="#">Read more</a>
            </article>

            <article>
                <img src="{{ url_for('static', filename='images/ai.jpg') }}">
                <h2>The AI Evolution</h2>
                <p>What is going to change with the evolution of the AI?</p>
                <a href="#">Read more</a>
            </article>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Modern Blog. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>
